{% extends 'base.html'%}

{% block title %}Friends{% endblock %}

{%block content%}

<h1>My Friends</h1>
<table class="my-friends-list" id="table_list">
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Friends Since</th>
    </tr>
    </thead>
    <tbody>
    {%for friend_req in approved %}
    {%if friend_req['Email1'] == my_email%}
    <tr>
        <td >{{friend_req.Email2}}</td>
        {% for user in users%}
        {% if user['Email'] == friend_req['Email2'] %}
        <td>{{user['FirstName']}}</td>
        <td>{{user['LastName']}}</td>
        {% endif %}
        {% endfor %}
        <td>{{friend_req['FriendsSince']}}</td>
    </tr>
    {%elif friend_req['Email2'] == my_email%}
    <tr class= "friendRow">
        <td>{{friend_req.Email1}}</td>
        {% for user in users%}
        {% if user['Email'] == friend_req['Email1'] %}
        <td class= "friendRow">{{user['FirstName']}}</td>
        <td>{{user['LastName']}}</td>
        {% endif %}
        {% endfor %}
        <td>{{friend_req['FriendsSince']}}</td>
    </tr>
    {%endif%}
    {%endfor%}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">Total friends</td>
        <td id="total">{{my_approved_friends}}</td>
    </tr>
    </tfoot>
</table>

<form action="" class="form">
    <h2>Add Friend</h2>
    <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" required>
    </div>
    <div class="form-group">
        <input type="submit" value="Search">
    </div>
</form>

<h1>Would Like To Be My Friends</h1>

<table>
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Accept/Deny</th>
    </tr>
    </thead>
    <tbody>
    {%for friend_req in requested %}
    {%if friend_req['Email1'] == my_email%}
    <tr>
        <td>{{friend_req['Email2']}}</td>
        {% for user in users %}
        {% if user['Email'] == friend_req['Email2'] %}
        <td>{{user['FirstName']}}</td>
        <td>{{user['LastName']}}</td>
        {% endif %}
        {% endfor %}
        <td>
            <a class="btn confirm" href="{{url_for('friends.friends_request', response='V', user=friend_req['Email2'])}}">V</a>
            <a class="btn deny" href="{{url_for('friends.friends_request', response='X', user=friend_req['Email2'])}}">X</a>
        </td>
    </tr>
    {% elif friend_req['Email2'] == my_email %}
    <tr>
        <td>{{friend_req['Email1']}}</td>
        {% for user in users %}
        {% if user['Email'] == friend_req['Email1'] %}
        <td>{{user['FirstName']}}</td>
        <td>{{user['LastName']}}</td>
        {% endif %}
        {% endfor %}
        <td>
            <form action="" class="quick-form form">
                <select name="response" class="confirm-deny">
                    <option value="undifined">~</option>
                    <option value="confirm">V</option>
                    <option value="deny">X</option>
                </select>
            </form>
        </td>
    </tr>
    {%endif%}
    {%endfor%}
    </tbody>
</table>
<script src="{{url_for('friends.static',filename='js/friends.js')}}"></script>
{% endblock %}