{% extends 'base.html'%}

{% block title %}Friends{% endblock %}

{%block content%}

<h1>My Friends</h1>
<table class="my-friends-list" id="table_list">
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Friends Since</th>
    </tr>
    </thead>
    <tbody>
    {%for friend_req in approved %}
    <tr>
        <td>{{friend_req.email}}</td>
        <td>{{friend_req['first_name']}}</td>
        <td>{{friend_req['last_name']}}</td>
        <td>{{friend_req['friends_since']}}</td>
    </tr>
    {%endfor%}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">Total friends</td>
        <td id="total">{{approved|count}}</td>
    </tr>
    </tfoot>
</table>

<form action="{{url_for('friends.friends')}}" class="form" method="post">
    <div class="msg">{{msg}}</div>
    <h2>Add Friend</h2>
    <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" required>
    </div>
    <div class="form-group">
        <input type="submit" value="Search">
    </div>
</form>

<h1>Would Like To Be My Friends</h1>

<table>
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Accept/Deny</th>
    </tr>
    </thead>
    <tbody>
    {%for friend_req in requested %}
    <tr>
        <td>{{friend_req.email}}</td>
        <td>{{friend_req['first_name']}}</td>
        <td>{{friend_req['last_name']}}</td>
        <td>
            <a class="btn confirm" href="{{url_for('friends.friends_request', response='V', user=friend_req['email'])}}">V</a>
            <a class="btn deny" href="{{url_for('friends.friends_request', response='X', user=friend_req['email'])}}">X</a>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>
<script src="{{url_for('friends.static', filename='friend.js')}}"></script>

{% endblock %}