<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>
<nav>
    <ul>
        <li><img class="logo" src="{{url_for('static',filename='images/BudgetBunny.png')}}" alt="Budget Bunny logo">
        </li>

        {% if session.get('pagename') == 'login' or session.get('pagename') == 'register'%}
        <li><a href="{{url_for('login.login')}}">LOGIN</a></li>
        <li><a href="{{url_for('register.register')}}">REGISTER</a></li>
        {% else %}
        {% if session.get('pagename') == 'home' %}
        <li><a href="{{url_for('friends.friends')}}">FRIENDS</a></li>
        {% elif session.get('pagename') == 'friends' %}
        <li><a href="{{url_for('home.home')}}">HOME</a></li>
        <li><a href="{{url_for('wisdoms.wisdoms')}}">WISDOMS</a></li>
        <li><a href="{{url_for('newBudget.newBudget')}}">NEW BUDGET</a></li>
        {% elif session.get('pagename') == 'wisdoms' %}
        <li><a href="{{url_for('home.home')}}">HOME</a></li>
        <li><a href="{{url_for('friends.friends')}}">FRIENDS</a></li>
        {% elif session.get('pagename') == 'newBudget' %}
        <li><a href="{{url_for('home.home')}}">HOME</a></li>
        <li><a href="{{url_for('wisdoms.wisdoms')}}">WISDOMS</a></li>
        <li><a href="{{url_for('friends.friends')}}">FRIENDS</a></li>
        {% elif session.get('pagename') == 'addExpenses' %}
        <li><a href="{{url_for('home.home')}}">HOME</a></li>
        <li><a href="{{url_for('friends.friends')}}">FRIENDS</a></li>
        <li><a href="{{url_for('wisdoms.wisdoms')}}">WISDOMS</a></li>
        {% endif %}
        <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
        {% endif %}
    </ul>
</nav>
{% block content %}
{% endblock %}

<footer> Made by Ofir Wysboom & Hila Ziegler ©</footer>
</body>
</html>