{% extends 'base.html' %}

{% block title%} BudgetBunny {% endblock %}
{% block content%}
<label for="" id="date"></label>

<h1 class="welcome-animation">Welcome, {{name}}!</h1>
<div class="grid-container">
    {% if budgets%}
    <form action="{{url_for('home.home')}}" class="form add-expense" method="GET">
        <div class="form-group">
            <label for="">Choose Budget</label>
            <select name="Budget" id="" required>
                {%for budget in budgets:%}
                <option value="{{budget}}">{{budget}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="submit" class="btn">
        </div>
    </form>
    {% else %}
<!--    grid this shit up-->
    <h2>Please add a new budget from the button to the left</h2>
    {% endif %}

    <a href="{{url_for('newBudget.newBudget')}}" class="btn first">Add a new budget</a>
    <a href="{{url_for('wisdoms.wisdoms')}}" class="btn Second">Wisdoms</a>
</div>
<script src="{{url_for('home.static',filename='js/home.js')}}"></script>
{%endblock%}
